
smart-user, smart-question {
    margin: 1em;
    background: #DDDDDD;
}

#rooms, #quizzes {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

smart-room, smart-quiz {
    margin: 1em;
    background: #DDDDDD;
}