<div class="container pt-3">
    <p>{{ password_requirements }}</p>
    <div class="row text-center">
        <form action="#" method="post">
            {{ password_form.hidden_tag() }}
            <!-- button disabled until all fields have been filled -->
            <p>{{ password_form.old_password(size=32, required=true, class="required", onkeyup="enableSubmit()") }}</p>
            <p>{{ password_form.new_password(size=32, required=true, class="required", onkeyup="enableSubmit()") }}</p>
            <p>{{ password_form.repeat_password(size=32, required=true, class="required", onkeyup="enableSubmit()") }}</p>
            <p>{{ password_form.change_password(class="btn btn-primary", disabled=true) }}</p>
        </form>
    </div>
</div>